[*]
charset=utf-8
end_of_line=lf
insert_final_newline=false
indent_style=space
indent_size=4

[{*.sht,*.html,*.shtm,*.shtml,*.ng,*.htm,*.twig}]
indent_style=space
indent_size=2

[{composer.lock,.eslintrc,.prettierrc,.babelrc,jest.config,.stylelintrc,*.bowerrc,*.jsb3,*.jsb2,*.json,*.graphqlconfig}]
indent_style=space
indent_size=2

[*.csv]
indent_style=tab
tab_width=1

[*.scss]
indent_style=space
indent_size=2

[{*.cjs,*.js}]
indent_style=space
indent_size=2

[{tsconfig.lib.json,tsconfig.app.json,tsconfig.e2e.json,tsconfig.spec.json,tsconfig.json}]
indent_style=space
indent_size=2

[*.js.map]
indent_style=space
indent_size=2

[*.vue]
indent_style=space
indent_size=2

[{*.yml,*.yaml}]
indent_style=space
indent_size=2